# Python
__pycache__/
*.pyc
.venv/
env/
*.log

# VS Code
.vscode/

# Sistem
.DS_Store
Thumbs.db

# Artefacte media
data/
snapshots/
*.mp4
*.avi
*.jpg
*.png

# Modele
models/*.onnx
models/*.tflite
models/*.pt
models/*.bin
models/*.engine

# Secrete
.env
